


/* Custom properties/variables */
:root {

  /* se agrega la siguiente custome property */
  --header-height: 60px;

  /* Colores */
  --text: #f0f0f0;
  --primary: #171717;
  --secondary: #001547;
  --background:  #0f0f0f;
  --accent: #006602;
  /* Tipografía */
  --body-font: 'Montserrat', sans-serif;
  --ubuntu-font: 'Ubuntu', sans-serif;
  --big-font-size: 40px;
  --subheading-font-size: 25px;
  --subsection-font-size: 18px;
  --body-font-size: 16px;
  --small-font-size: 12px;

  /* Grosores de letra */
  --font-light: 200;
  --font-medium: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* Margen */
  --mr-1: 8px;
  --mr-2: 16px;
  --mr-3: 20px;
  --mr-4: 26px;
  --mr-5: 32px;

  /* Gaps */

  --gap-1: 1rem;
  --gap-2: 2rem;

  /* Z-Index */
  --z-modal: 10;
  --z-fixed: 100;

  /* Sombra */
  --box-shadow: 0 10px 100px rgba(0, 0, 0, 0.5);;

  /* Imagen */
  --hue: 207;
  --sat: 90%;
  --lig: 61;
  /* Variables*/
  --light-radius: 50vmax;
  --degree : 0deg;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Media queries for font sizes */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text);
  background-image: url(https://64.media.tumblr.com/93656f0e471d8fe298135c53567419eb/tumblr_p2fhs4CRDs1wk0ifjo1_1280.gifv); 
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: hue-rotate(var(--degree));
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
}

img {
  display: block;
  width: 100%;
}

.blur_bg{
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px); /*Safari*/
}
.transparent_bg{
  background: transparent;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.nav-list {
  display: flex;
  margin-right: 2rem;
}
@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 3rem;
  padding: 0.3rem 1rem;
  color: white; /* Inicialmente, el color de la letra es transparente */
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  transition: color 1s linear; /* Transición de 1 segundo para el color de la letra */
}
.nav-list a.blue_teal {
  --c1: #0f83ff;
  --c2: #afdadb;
  --degree : 227deg;
}
.nav-list a.pink_purple {
 --c1: #fa0185;
  --c2: #972cde;
  --degree : 677deg;
}

.nav-list a.orange_yellow {
  --c1: #ff3c2f;
  --c2: #f9b202;
  --degree : 750deg;
}

.nav-list a:hover {
  color: transparent; /* Al hacer hover, el color de la letra se establece en blanco */
  background: linear-gradient(90deg, var(--c1), var(--c2));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Flashlight Overlay */
:root {
  cursor: auto;
  --cursorX: 100vw;
  --cursorY: 25vh;
}
:root:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  background: radial-gradient(
    circle var(--light-radius) at var(--cursorX) var(--cursorY),
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,.5) 80%,
    rgba(0,0,0,.95) 100%
  );
  transition: background 0.5s ease-out; /* Add a transition for smooth fading */
}

@media (max-width: 600px){
  :root:before{
    background: transparent;
  }
   
}
/* Welcome section */
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 87vh;
}
.welcome-section h1 {
  --c1: crimson; 
  --c2: firebrick;
  color: transparent; /* Al hacer hover, el color de la letra se establece en blanco */
  background: linear-gradient(90deg, var(--c1), var(--c2));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 10;
  font-family: 'Poppins', sans-serif;
  
}
.welcome-section>p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--text);
  z-index: 10;
}

/* Projects section */
.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background-color: rgba(0,0,0, 0.5);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--text);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  place-items: center;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.article-card {
  text-align: left;
  width: 350px;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
}

.article-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.article-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card .content {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding: 30px 20px 20px 20px;
  height: auto;
  bottom: 0;
  background: linear-gradient(transparent, rgb(0, 0, 0));
}

.article-card .title {
  margin: 0;
  font-size: 17px;
  color: #fff;
  margin-bottom: 4px;
}
.article-card .chips{
  display: flex;
}
.article-card .chips li{
  padding: 0px 6px;
  margin-left: 10px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
  background: rgb(43, 89, 63);
  border-radius: 10px;
  border:1px solid #035700; 
}
.article-card .chips li p{
  padding: 4px;
}
.project {
  background: var(--background);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--background);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--background);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--primary);
}

.btn-show-all:hover>i {
  transform: translateX(2px);
}

.btn-show-all>i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

/* Contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--background);
}

.contact-section-header>h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header>h2 {
    font-size: 4rem;
  }
}

.contact-section-header>p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

/* Footer */
footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--background);
  border-top: 4px solid var(--primary);
}

footer>p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}